<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="mcx_ros2_control" params="robot_ip">
        <ros2_control name="MCXHardwareInterface" type="system">
            <hardware>
                <plugin>robot_driver/MCXHardwareInterface</plugin>
                <param name="robot_ip">${robot_ip}</param>
            </hardware>

        <joint name="pr15_shoulder_pan_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint>

        <joint name="pr15_shoulder_lift_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint> 

        <joint name="pr15_elbow_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint> 

        <joint name="pr15_wrist1_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint> 

        <joint name="pr15_wrist2_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint> 

        <joint name="pr15_wrist3_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="velocity"/>
            <param name="initial_position">0.0</param>
        </joint>
             

        </ros2_control>
    </xacro:macro>
</robot>